.post-content {
  card {
    img {
      display: none;
      max-width: 150px;
      position: absolute;
      z-index: 100;

      @media #{$large} {
        max-width: 126%;
      }
    }
  }
}

decklist {
  width: 100%;

  @media #{$medium} {
    width: 90%;
  }
}

.decklist {
  border: 1px solid $border-dark;
  border-radius: $border-radius;
  padding: 0.3em;

  * {
    box-sizing: border-box;

    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  header {
    border-bottom: 1px solid $border-dark;
    margin-bottom: 0.5em;
  }

  li {
    margin: 0;
  }

  main {
    @extend %clearfix;
  }

  ul {
    margin-bottom: 0;
    padding-left: 0.3em;
  }
}

.decklist__column {
  @media #{$medium} {
    float: left;
    padding: 0 0.3em;
    width: 50%;
  }

  @media #{$large} {
    width: 33%;
  }
}

.decklist__image {
  padding: 0 0.3em;

  @media #{$large} {
    float: left;
    width: 33%;

    img {
      max-width: 100%;
    }
  }
}

.decklist__section-header {
  padding: 0.3em 0;
}

.decklist__sideboard {
  background-color: $light-grey;
  margin: 0.3em;
  padding: 0 0.1em 0.1em 0.1em;
}

.medium-view-cf {
  @extend %clearfix;

  display: none;

  @media #{$medium} {
    display: block;
  }

  @media #{$large} {
    display: none;
  }
}
