// Colours
$border-dark: #ddd;
$border-light: #eee;
$grey: #bbb;
$light-grey: lighten($grey, 10%);

// Border Radius
$border-radius: 5px;

// Medium Screens
$medium: '(min-width: 500px)';

// Large Screens
$large: '(min-width: 900px)';
