.decklist {
  border: 1px solid $light-grey;
  border-radius: $border-radius;
  margin: 1em;
  padding: 1em;

  header {
    border-bottom: 1px solid $light-grey;
    margin-bottom: 0.5em;
  }

  li {
    margin: 0;
  }

  main {
    @extend %clearfix;
  }

  ul {
    margin-bottom: 1em;
    padding-left: 0.3em;
  }
}

.decklist__column {
  @media #{$medium} {
    float: left;
    margin: 0 0.3em;
    width: 50%;
  }

  @media #{$large} {
    width: 33%;
  }
}
